@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

*{
    font-family: 'Nova Flat', cursive;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFC872;
}

html{
    background: url(../img/fondoprincipal.jpg);
    background-color: rgb(100, 100, 100);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
}

table{
    width: 75%;
    border: rgb(137, 196, 0) 3px solid;
    padding: 20px;
    margin-bottom: 15px;
    background: url('https://bgfons.com/uploads/rain/rain_texture6283.jpg');
}

#tablaestela{
    width: 75%;
    border: rgb(206, 0, 120) 3px solid;
    padding: 20px;
    margin-bottom: 25px;
    background: url('https://i.pinimg.com/originals/21/ae/8e/21ae8e3a0cc6fbbfeaa3a0d9e577478a.png');
}

#aldair{
    margin-top: 30px;
    width: 50%;
    border: rgb(0, 238, 255) 3px solid;
    padding: 20px;
    margin-bottom: 35px;
    background: url('https://cdn.wallpapersafari.com/46/12/QwTKBP.jpg');
}

li {
    float: left;
}

th{
    color: white;
    font-size: larger;
    text-align: center;
}

#enlace{
background-color: rgb(141, 248, 239);

}

h1,h3{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
    font-size: large;
}

#cal{
    color: khaki;
    font-size: 150%;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 180%;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(142, 194, 0);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #eb9696}

.dropdown:hover .dropdown-content {
    display: block;
}

img{
padding-top: 10px;

}